@{
    ViewData["Title"] = "Panel Principal";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}


<link rel="stylesheet"
      href="~/css/dashboard-admin.css">


<div class="dashboard-container">



    <div class="titulo">


        <h2>
            Bienvenido, Administrador
        </h2>


        <p>
            Panel de control del Sistema de Viáticos DINACEN
        </p>


    </div>





    <div class="row g-4">



        <div class="col-xl-3 col-md-6">


            <a asp-controller="Usuario"
               asp-action="Index"
               class="card-dashboard">


                <i class="bi bi-people-fill"></i>


                <h4>
                    Usuarios
                </h4>


                <p>
                    Administrar usuarios del sistema
                </p>


            </a>


        </div>





        <div class="col-xl-3 col-md-6">


            <a asp-controller="Solicitud"
               asp-action="Index"
               class="card-dashboard">


                <i class="bi bi-file-earmark-text-fill"></i>


                <h4>
                    Solicitudes
                </h4>


                <p>
                    Gestionar solicitudes de viáticos
                </p>


            </a>


        </div>





        <div class="col-xl-3 col-md-6">


            <a asp-controller="Rendicion"
               asp-action="IndexAdmin"
               class="card-dashboard">


                <i class="bi bi-wallet-fill"></i>


                <h4>
                    Rendiciones
                </h4>


                <p>
                    Revisar rendiciones
                </p>


            </a>


        </div>





        <div class="col-xl-3 col-md-6">


            <a asp-controller="Reporte"
               asp-action="Index"
               class="card-dashboard">


                <i class="bi bi-bar-chart-fill"></i>


                <h4>
                    Reportes
                </h4>


                <p>
                    Generar reportes
                </p>


            </a>


        </div>



    </div>





    <div class="panel-info mt-5">


        <h4>
            Resumen del sistema
        </h4>


        <div class="row text-center">



            <div class="col-md-4">

                <h2>
                    25
                </h2>

                <p>
                    Usuarios registrados
                </p>


            </div>



            <div class="col-md-4">

                <h2>
                    15
                </h2>

                <p>
                    Solicitudes pendientes
                </p>


            </div>



            <div class="col-md-4">

                <h2>
                    10
                </h2>

                <p>
                    Rendiciones en revisión
                </p>


            </div>


        </div>


    </div>



</div>