@{
    ViewData["Title"] = "Panel del Empleado";
    Layout = "~/Views/Shared/_LayoutEmpleado.cshtml";
}


<link rel="stylesheet"
      href="~/css/dashboard-empleado.css"
      asp-append-version="true">


<div class="dashboard-empleado container-fluid">


    <!-- ENCABEZADO -->

    <div class="header-dashboard">


        <h1>

            Sistema de Viáticos

        </h1>


        <p>

            Panel de gestión del representante

        </p>


    </div>



    <!-- TARJETAS -->


    <div class="row g-4">


        <!-- NUEVA SOLICITUD -->


        <div class="col-12 col-md-6 col-xl-4">


            <div class="card-dashboard">


                <div class="icon-container bg-primary">


                    <i class="bi bi-file-earmark-plus-fill"></i>


                </div>



                <h4>

                    Nueva Solicitud

                </h4>



                <p>

                    Registra una nueva solicitud de viáticos.

                </p>



                <a asp-controller="Solicitud"
                   asp-action="Create"
                   class="btn btn-primary">

                    Registrar Solicitud

                    <i class="bi bi-arrow-right"></i>

                </a>


            </div>


        </div>






        <!-- MIS SOLICITUDES -->


        <div class="col-12 col-md-6 col-xl-4">


            <div class="card-dashboard">


                <div class="icon-container bg-success">


                    <i class="bi bi-folder-check"></i>


                </div>



                <h4>

                    Mis Solicitudes

                </h4>



                <p>

                    Consulta el estado de tus solicitudes enviadas.

                </p>



                <a asp-controller="Solicitud"
                   asp-action="MisSolicitudes"
                   class="btn btn-success">


                    Consultar

                    <i class="bi bi-search"></i>


                </a>


            </div>


        </div>






        <!-- RENDICION -->


        <div class="col-12 col-md-6 col-xl-4">


            <div class="card-dashboard">


                <div class="icon-container bg-warning">


                    <i class="bi bi-wallet-fill"></i>


                </div>



                <h4>

                    Rendición de Gastos

                </h4>



                <p>

                    Registra los gastos de una solicitud aprobada.

                </p>



                <a asp-controller="Rendicion"
                   asp-action="Index"
                   class="btn btn-warning">


                    Gestionar


                    <i class="bi bi-arrow-right"></i>


                </a>


            </div>


        </div>



    </div>





    <!-- INFORMACION -->


    <div class="info-panel mt-5">


        <div class="row text-center">


            <div class="col-12 col-md-4">


                <i class="bi bi-clock-history"></i>


                <h3>

                    Solicitudes

                </h3>


                <p>

                    Consulta tus solicitudes pendientes.

                </p>


            </div>



            <div class="col-12 col-md-4">


                <i class="bi bi-receipt"></i>


                <h3>

                    Gastos

                </h3>


                <p>

                    Registra tus comprobantes.

                </p>


            </div>



            <div class="col-12 col-md-4">


                <i class="bi bi-check-circle"></i>


                <h3>

                    Estados

                </h3>


                <p>

                    Revisa aprobaciones.

                </p>


            </div>


        </div>


    </div>




</div>